{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>주변 시설</title>
    <link rel="stylesheet" href="{% static 'css/facility.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script defer src="{% static 'javascript/facility.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnHdvAwGLa58Fh5OIub6q8YMXM-PCM-j8"
        callback="initMap"></script>
</head>

<body>
    <!-- 상단 바 -->
    <section class="nav_top">
        <nav class="navbar">
            <div class="navbar_logo">
                <i class="fas fa-paw"></i>
                <a href="/">Who's Pet</a>
            </div>

            <ul class="navbar_menu">
                <li><a href="">마이페이지</a></li>
                <li><a href="{% url 'info' %}">정보</a></li>
                <li><a href="{% url 'facility' %}">반려견시설</a></li>
                <li><a href="{% url 'gps' %}">위치추적</a></li>
                <li><a href="{% url 'board:board_list' %}">커뮤니티</a></li>
            </ul>

            <ul class="navbar_icons">
                <i class="fab fa-google"></i>
                <i class="fab fa-facebook-f"></i>
            </ul>
        </nav>
    </section>
    <!-- 메인 -->
    <section id="main_center" class="main_page">
        <!-- 시설들 지도 마커 -->
        <div class="googleMap">
            <iframe id="map1"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3176.844286727453!2d127.09738371564139!3d37.22767125121893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b4512230b636f%3A0x943d0da881f5ee85!2z7YGQ7Yuw7JWg6rKs7Lm07Y6Y!5e0!3m2!1sko!2skr!4v1634728006623!5m2!1sko!2skr"
                width="800" height="450" style="border:2px solid black;" allowfullscreen="" loading="lazy"></iframe>
            <iframe id="map2"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3176.8442867273957!2d127.09738371490238!3d37.227671251220286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b4512230b636f%3A0x977def9b2cc0b92e!2z7Y6g66as7Iqk67us66GcIChGZWxpeiBQZXJybyk!5e0!3m2!1sko!2skr!4v1634728934615!5m2!1sko!2skr"
                width="800" height="450" style="border:2px solid black;" allowfullscreen="" loading="lazy"></iframe>
            <iframe id="map3"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.4924471887684!2d127.14044241490325!3d37.259748049396364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b519fc6c33ebf%3A0x14db79caa7557ae2!2z7Zek7J206re4IOyVoOqyrOy5tO2OmA!5e0!3m2!1sko!2skr!4v1634728969781!5m2!1sko!2skr"
                width="800" height="450" style="border:2px solid black;" allowfullscreen="" loading="lazy"></iframe>
            <iframe id="map4"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3176.386619169168!2d127.02774351564165!3d37.238533550601446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b438330dfe48d%3A0xaccf0d805e322795!2z7JWg6rKs7Lm07Y6Y7JmI!5e0!3m2!1sko!2skr!4v1634731850316!5m2!1sko!2skr"
                width="800" height="450" style="border:2px solid black;" allowfullscreen="" loading="lazy"></iframe>
            <iframe id="map5"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3176.6019401849376!2d127.18495581490258!3d37.23342345089337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b51de26e323cd%3A0xf844d8f7bde9dda6!2z64us64us7ZWY6rCc!5e0!3m2!1sko!2skr!4v1634729098408!5m2!1sko!2skr"
                width="800" height="450" style="border:2px solid black;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <!-- 주변 시설 테이블 -->
        <form class="mapExist">
            <button type="button" id="btn1">큐티애견카페</button>
            <button type="button" id="btn2">팰리스빼로</button>
            <button type="button" id="btn3">헤이그 애견카페</button>
            <button type="button" id="btn4">애견카페왈</button>
            <button type="button" id="btn5">달달하개</button>
        </form>
        <div class="csvTable">
            <div id="csvHere">
            </div>
        </div>
    </section>

    <!-- 웹사이트 정보 -->
    <footer>
        <div class="information">
            <ul id="top_information">
                <li>Who's Pet</li>
                <li>이용약관</li>
                <li>개인정보처리방침</li>
                <li>고객센터</li>
                <li>메인</li>
            </ul>
            <ul>
                <li>Tel 000-0000-0000</li>
                <li>E-mail</li>
                <li>Copyright ⓒ 2021</li>
                <li>www.whospet.com All right reserved.</li>
            </ul>
        </div>
    </footer>
    </section>
</body>

</html>