body {
    margin: 0;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.navbar {
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    background-color: beige;
    align-items: center;
}

.navbar_menu {
    display: flex;
    margin-right: 70px;
    font-size: 20px;
}

.navbar_menu li {
    padding-left: 12px;
}

#main_center {
    padding: 8px 10px;
    width: 1100px;
}

.main_page {
    margin: 0 auto;
    width: 1080px;
}

.main {
    display: flex;
    width: 80%;
}

/*  게시판 콘테이너  */
.community_detail {
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    background-color: beige;
}

.community_detail div {
    margin-bottom: 3px;
}

.edit_box {
    margin-top: 3px;
    display: flex;
}

.edit_box #edit {
    margin-right: 10px;
}

.edit_box a {
    margin-right: 15px;
}

.community_detail #board_contents {
    height: 490px;
    margin-top: 10px;
    border: 1px solid black;
    background-color: white;
    overflow: auto;
}

.community_detail #board_contents p {
    margin: 5px 0 0 5px;
    font-size: 25px;
}

/* footer */
.information {
    background-color: beige;
}

.information #top_information {
    display: flex;

}

.information #top_information li {
    padding-left: 10px;
    padding-right: 20px;
    border-right: 1px solid black;
}